:root {
    --form-control-color: rebeccapurple;
  }
input[type="radio"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    width: 1.5em;
    color: rgba(14, 165, 233, .7);
    height: 1.5em;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="radio"]::before{
    content: "";
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em ;
    
    
}

input[type="radio"]:checked::before {
    transform: scale(1);
  }

  input[type="radio"]:focus {
    outline: max(2px, 0.18em) solid currentColor;
    border: none;
  }